$primary: #00b1a7;
$accent: #ffca3e;
$error: #e7695d;
$secondary: #8fced7;
$blue: #6fa5e3;
$white: #ffffff;
$background: #f7f7f7;
$cardGrey: #ebebeb;
$tertiaryGrey: #e0e0e0;
$primaryDark: #454545;
$primaryGrey: #6c6c72;
$secondaryGrey: #c1c1c1;
