@import './colors.scss';

@font-face {
  font-family: 'Stay';
  src: url('/static/fonts/Stay.ttf') format('truetype');
}

@font-face {
  font-family: 'Gothic';
  src: url('/static/fonts/SocialGothicMedium.otf') format('opentype');
}

@font-face {
  font-family: 'GothicRegular';
  src: url('/static/fonts/SocialGothicRegular.otf') format('opentype');
}

.subheading {
  color: #6c6c72;
}

.fontAccented {
  font-family: Stay;
}

.accented {
  color: $primary;
}

.heading {
  font-family: 'Gothic';
  text-transform: uppercase;
}

@mixin calloutFont {
	font-size: 12px;
	font-weight: bold;
  text-align: left;
  color: $primaryGrey;
  text-transform: uppercase;
}

@mixin boldBodyFont {
  color: $primaryDark;
  font-size: 14px;
  font-weight: 600;
}

@mixin placeholderFont {
	font-size: 16px;
	color: $secondaryGrey;
}
