.calendar {
  .carousel__left {
    top: 13px !important;
    left: calc(50% - 80px) !important;
  }

  .carousel__right {
    top: 13px !important;
    right: calc(50% - 80px) !important;
  }

  .btn__content {
    color: #454545 !important;

    i.icon {
      font-size: 20px !important;
    }
  }
}